{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Need help with your PayPal account? Contact PayPal customer service for assistance with payments, disputes, account access, and more.">
    <meta name="keywords" content="PayPal customer service, contact PayPal, PayPal support number, PayPal help center, PayPal account assistance">
    <meta name="robots" content="index, follow">
    <title>PayPal Customer Service – Get Help with Your PayPal Account</title>
    {{ super() }}
{% endblock %}
