{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="623ED3D1E235F0508846DA4A2D09CF91" />
    <meta name="google-site-verification" content="iUsdtzEvBBMhDePr5h1D5cwdWDX2HMdd08po5rO2Cfo" />
    <meta name="description" content="Need help with your PayPal account? Contact PayPal customer service for assistance with payments, disputes, account access, and more.">
    <meta name="keywords" content="PayPal customer service, contact PayPal, PayPal support number, PayPal help center, PayPal account assistance">
    <meta name="robots" content="index, follow">
    <title>PayPal Customer Service – Get Help with Your PayPal Account</title>
    {{ super() }}
{% endblock %}
